.formContainer{
    position: relative;
    width: 1440px;
    height: 1024px;

    background: #DADADA;    
}

.formInput{
    position: absolute;
    width: 553px;
    height: 39px;
    left: 511px;
    background: #FFFEFE;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.formBtnEnviar{
    position: absolute;
    width: 196px;
    height: 44px;
    background: #2B63CF;
    border-radius: 15px;
}

.formBtnCadastrar{
    position: absolute;     
    width: 381px;
    height: 57px;
    background: #4A88FF;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

.formSelect{
    padding:9px 0;
    width:100%;
    border-bottom:1px solid #FFFEFE;
    border:2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}