.formContainer{
    background: #DADADA;
    padding: 1.5rem 2rem;
    position: relative;
    display: grid; 
    grid-template-columns: 5.6rem 2fr; /* Tamanho das colunas */
    gap: 1px; /* 1 x 16 = 100px */
    align-content: center; /* Alinhar o conteúdo no centro verticalmente */ 
     
}

.formInput2{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding:8px;
    display:block;
    border: none;
    border-bottom:1px solid #ccc;
    width:60%
}

.formInput{
    position: absolute;
    width: 553px;
    height: 30px;
    left: 511px;
    background: #FFFEFE;
    border: 2px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.formBtnEnviar{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 196px;
    height: 44px;
    background: #2B63CF;
    border-radius: 15px;
}

.formBtnCadastrar{
    position: relative;     
    width: 381px;
    height: 40px;
    background: #4A88FF;
    border: none;
    box-sizing: border-box;
    border-radius: 5px;
}


.formSelect{
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding:9px 0;
    width:60%;
    border-bottom:1px solid #FFFEFE;
    border: none;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}