* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --dark-blue: #0C2D48;
    --midnight-blue: #145DA0;
    --blue: #2E8BC0;
    --baby-blue: #B1D4E0;
    --white: #fff;
    --gray-line: #dcdde0;
    --text-highlight: #b3b9ff;
    --title: #2e384d;
    --red: #e83f5b;
    --green: #4cd62b;
    --orange: #e09a59;

}

@media(max-width: 1080px){
    html{
        font-size: 93.75%;
    }
}

@media(max-width: 600px){
    html{
        font-size: 87.5%;
    }
}

body {

    background: var(--white);
    color: var(--white);

}

body, input, textarea, button {

font: 400 1rem 'Inter', sans-serif;

}

button {

    cursor: pointer;

}

a {

    color: inherit;
    text-decoration: none;

}

